[package]
name = "trdelnik-tests"
version = "0.1.0"
description = "Created with Trdelnik"
edition = "2021"

[dependencies]
assert_matches = "1.4.0"

[dependencies.trdelnik-client]
version = "0.5.0"

[dependencies.program_client]
path = "../.program_client"

[dev-dependencies]
fehler = "1.0.0"
rstest = "0.12.0"
