[workspace]
members = ["crates/cli", "crates/client", "crates/explorer", "crates/test"]
exclude = ["examples/"]


[workspace.dependencies]
trdelnik-test                   = { path = "./crates/test", version = "0.3.1" }
trdelnik-client                 = { path = "./crates/client", version = "0.5.0" }
trdelnik-explorer               = { path = "./crates/explorer", version = "0.3.1" }
anchor-client                   = { version="0.28.0", features = ["async"]}
solana-sdk                      = "1.16.6"
solana-cli-output               = "1.16.6"
solana-transaction-status       = "1.16.6"
solana-account-decoder          = "1.16.6"
solana-cli-config               = "1.16.6"
solana-client                   = "1.16.6"
solana-program                  = "1.16.6"
solana-logger                   = "1.16.6"
solana-vote-program             = "1.16.6"
spl-token                       = "4.0.0"
spl-memo                        = "4.0.0"
spl-associated-token-account    = "2.0.0"
tokio                           = { version = "1",features = [
                                    "rt-multi-thread",
                                    "macros",
                                    "fs",
                                    "signal",
                                    "sync",
                                    "time",
                                    "io-util",
                                    "process",
                                    ], default-features = false}
rand                            = "0.8.5"
serde_json                      = "1.0.72"
serde                           = "1.0.136"
bincode                         = "1.3.3"
borsh                           = "0.10.3"
futures                         = "0.3.18"
fehler                          = { version = "1.0.0", default-features = false }
thiserror                       = "1.0.30"
ed25519-dalek                   = "1.0.1"
serial_test                     = "2.0.0"
anyhow                          = { version = "1.0.45", features = ["std"], default-features = false }
cargo_metadata                  = "0.17.0"
syn                             = { version = "1.0.109", features = ["full","visit"] }
quote                           = "1.0.14"
heck                            = { version = "0.4.0", default-features = false }
toml                            = { version = "0.5.8", features = ["preserve_order"] }
log                             = "0.4"
rstest                          = "0.18.1"
lazy_static                     = "1.4.0"
bs58                            = "0.5.0"
base64                          = "0.13.0"
pretty-hex                      = "0.3.0"
console                         = "0.15.0"
chrono                          = "0.4.19"
phf                             = { version = "0.11.2", features = ["macros"] }
num-derive                      = "0.4.0"
num-traits                      = "0.2.14"
proc-macro2                     = { version = "1.0.66", default-features = false }
darling                         = "0.13.1"
clap                            = { version = "4.3.19", features = ["derive"] }
shellexpand                     = "3.1.0"
