# For the detailed description of the parameters, see: https://ackee.xyz/trident/docs/latest/features/trident-manifest/

[fuzz]
fuzzing_with_stats = true

{% for program in programs %}
[[fuzz.programs]]
address = "{{ program.program_id }}"
program = "../target/deploy/{{ program.name }}.so"
{% endfor %} 